html, body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
    background-color: white;
}

.navbar {
    background-color: red;
}

#logoSite {
    margin-bottom: 4%;
}

#categoriesBtnImg {
    margin-bottom: 10%;
}

#listToggleImg {
    margin-bottom: 10%;
}

.nav-item a:hover {
    color: green !important;
}

.nav-link {
    color: white !important;
    font-weight: 600;
}

.mr-sm-2 {
    height: 30px;
    font-size: 90%;
}

#searchBtn {
    border: 0;
    background-color: red;
    margin-bottom: 2%;
}

#jumbotron {
    background-image: url(../img/lips_background.jpg);
    text-align: center;
    color: #F08080;
}

.list-group-item {
    color: black;
}

a.list-group-item:hover {
    color: white;
    background: red;
}

a.dropdown-item:hover {
    background: #f08080;
}

.btn {
    color: black;
    background-color: #e0ffff;
}

a.btn:hover {
    background-color: #f08080;
}

#categoriesItem {
    background-color: #F08080;
    border-color: red;
    text-align: center;
}

/*Media*/
@media screen and (max-width: 991px) {
    .row-offcanvas-right,
    .sidebar-offcanvas {
        right: -100%; /* 12 columns */
    }

    .jumbotron {
        display: none;
    }

    .row {
        width: 120%;
    }

    u {
        text-align: center;
    }

    #searchBtn {
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 571px) {
    .row-offcanvas-right,
    .sidebar-offcanvas {
        right: -100%; /* 12 columns */
    }

    .jumbotron {
        display: none;
    }

    .row {
        width: 125%;
    }
}

@media screen and (max-width: 575px) {
    .row {
        margin-top: 2%;
        width: 107%;
    }

    u {
        text-align: center;
    }
}